@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Для разработчиков мобильных систем предусмотрено API 
<br/>
    http:// адрес сайта/api/GetStatus.[формат]
    где<br /> [формат] <br />= xml, для получения статуса в XML формате<br />
                 = json, для получения статуса в json формате
    <br />
    пример: //localhost/api/GetStatus.xml
</p>
