@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    <abbr title="Phone">P:</abbr>
    8-985-525-24-43
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:mihail@milukoff.com">mihail@milukoff.com</a><br />

</address>